body {
    background-color: #05386B;
    /* min-height: 100vh; */
    color: #EDF5E1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header {
    background-color: #6CDB95;
    color: #379683;
    border: 4px solid #EDF5E1;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin: 5%;
}

#fiveDayForcast {
    margin-bottom: 10%;
}

main {
    max-width: 1280px;
    margin: 36px auto !important;
}

#searchBtn {
    display: block;
    min-width: 100%;

}

.w-card {
    background-color: #6CDB95;
    color: #05386B;
    font-size: 20;

    padding: 16px !important;
    margin: 0 8px !important;
    border-radius: 8px !important;
}